@import './base.css';

* {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav p {
  font-family: 'Outfit';
}

.blurry {
  filter: blur(100px);
}

.circle {
  @apply w-1/3 h-1/2 rounded-full absolute;
}

section {
  @apply p-6 relative;
}

section {
  @apply w-full flex flex-col gap-4;
}

section .divider {
  @apply w-full flex;
}

section .divider h1 {
  font-family: 'Outfit';
  @apply font-bold text-4xl w-[85%];
}

section .divider h2 {
  font-family: 'Outfit';
  @apply font-bold text-3xl w-fit col-span-3 col-start-2;
}

.hero .divider .shape {
  @apply -rotate-[10deg] w-32 absolute top-0 right-[6vw];
}

.section-one .divider .shape {
  @apply -rotate-[10deg] -translate-y-1 w-32 absolute top-0 left-[1vw];
}

.section-one .divider {
  text-align: right;
  @apply grid grid-cols-4;
}

section > h2,
.contact-card p {
  font-family: 'Outfit';
  letter-spacing: 2px;
  @apply uppercase font-bold text-lg;
}

.contact-card {
  @apply flex flex-col justify-center items-center gap-4 p-4 rounded-xl;
  @apply bg-gradient-to-r from-primary to-secondary;
  text-align: center;
}

.contact-card h2 {
  font-family: 'Outfit';
  @apply text-3xl font-bold;
}

.contact-card p {
  color: black;
}

.skill-icons {
  @apply bg-white bg-opacity-10 rounded-xl backdrop-blur-lg p-4 grid grid-cols-4 gap-4;
}

.skill-icons img {
  @apply min-w-8 w-full max-w-20;
}

.skill-icons img:hover {
  transform: scale(1.1);
}

.projects-grid {
  @apply grid grid-cols-1;
}

.reviews {
  text-align: center;
}

.reviews h3 {
  font-family: 'Outfit';
  @apply font-bold text-3xl w-fit col-span-3 col-start-2;
}
