@import './base.css';

* {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav p {
  font-family: 'Outfit';
}

.blurry {
  filter: blur(100px);
}

.circle {
  @apply w-1/3 h-1/2 rounded-full absolute;
}

.section-one {
  @apply text-right;
}

.section-one .divider {
  @apply justify-end;
}

section {
  @apply p-6 sm:p-8 relative;
}

section {
  @apply w-full flex flex-col gap-4;
}

section .divider {
  @apply w-full flex flex-col gap-4;
}

section .divider h1 {
  font-family: 'Outfit';
  @apply font-bold text-4xl sm:text-5xl w-[85%];
}

section .divider h2 {
  font-family: 'Outfit';
  @apply font-bold text-3xl sm:text-4xl max-w-[75%] self-end text-right w-full;
}

.section-one .divider p {
  @apply self-end max-w-[85%];
}

@media screen and (min-width: 400px) {
  .hero .divider .shape {
    @apply translate-x-8;
  }
}

@media only screen and (min-width: 530px) and (max-width: 639px) {
  .skill-icons {
    @apply grid-cols-6 !important;
  }
  .projects-grid {
    @apply grid-cols-2 !important;
  }
  .review-container {
    @apply grid-cols-2 !important;
  }
}

@media screen and (max-width: 370px) {
  .shape {
    display: none;
  }
  .section-one .divider p {
    @apply self-end max-w-full;
  }
  section .divider h1 {
    @apply w-full max-w-full;
  }
  .section-one .divider {
    padding-left: 0 !important;
  }
  .skill-icons {
    @apply grid-cols-3 !important;
  }
}

* {
  @apply bg-blend-exclusion;
}

.shape {
  transform-origin: center;
  @apply absolute -rotate-[15deg] w-32 sm:w-44 top-0;
}

.shape:hover {
  @apply scale-105;
}

.button-container {
  @apply flex gap-4 flex-col sm:flex-row;
}

.hero {
  @apply mb-4;
}

.hero .divider .shape {
  @apply w-32 sm:w-44 right-[1.8rem];
}

.section-one .shape {
  @apply -translate-y-2 sm:-translate-y-10 left-[.1rem];
}

.section-one .divider {
  text-align: right;
}

section > h2,
.contact-card p {
  font-family: 'Outfit';
  letter-spacing: 2px;
  @apply uppercase font-bold text-lg;
}

.contact-card {
  @apply flex flex-col justify-center items-center gap-4 p-4 rounded-xl;
  @apply bg-gradient-to-r from-primary to-secondary;
  text-align: center;
}

.contact-card h2 {
  font-family: 'Outfit';
  @apply text-3xl font-bold;
}

.contact-card p {
  color: black;
}

.skill-icons {
  @apply bg-white bg-opacity-10 rounded-xl backdrop-blur-lg p-4 grid grid-cols-4 sm:grid-cols-6 md:grid-cols-8 gap-4;
}

.skill-icons img {
  @apply min-w-8 w-full max-w-20;
}

.skill-icons img:hover {
  transform: scale(1.1);
}

.skill-icons img:active {
  transform: scale(0.95);
}

.projects-grid {
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4;
}

.reviews {
  text-align: center;
}

.review-container {
  text-align: center;
  @apply grid grid-cols-1 sm:grid-cols-2 gap-4;
}

.reviews h3 {
  font-family: 'Outfit';
  @apply font-bold text-3xl col-span-3 col-start-2;
}

.call-to-action {
  @apply hover:saturate-[125%];
}

.call-to-action h2 {
  @apply max-w-96;
}

.shape-seven-container {
  @apply w-12 h-12;
  background-image: url('./shapes/ShapeSeven.svg');
  background-repeat: no-repeat;
}

.shape-seven-container img {
  filter: blur(15px) saturate(3);
}
